.order-restaurants {
  &__carousel {
    z-index: 10 !important;
    &__slide {
      margin-right: 30px;
    }
    .mantine-11v3jvh {
      @media (min-width: 768px) {
        width: 350px;
      }
      @media (min-width: 992px) {
        width: 300px;
      }
      @media (min-width: 1200px) {
        width: 400px;
      }
      @media (min-width: 1440px) {
        width: 500px;
      }
    }
  }
  //Clase de otro componente
  .card {
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 #DEDEDE;
    @media (min-width: 576px) {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 350px;
    }
    @media (min-width: 992px) {
      width: 300px;
    }
    @media (min-width: 1200px) {
      width: 400px;
    }
    @media (min-width: 1440px) {
      width: 500px;
    }
    &__image-container {
      @media (min-width: 576px) {
        height: 345px;
      }
      @media (min-width: 768px) {
        height: 220px;
      }
      @media (min-width: 992px) {
        height: 195px;
      }
      @media (min-width: 1200px) {
        height: 270px;
      }
      @media (min-width: 1440px) {
        height: 320px;
      }
    }
    &__ribbon {
      width: 75px;
      height: 75px;
      position: absolute;
      top: -10px;
      left: -5px;
      z-index: 1;
    }
    &__ribbon span {
      width: 95px;
      position: absolute;
      top: 19px;
      display: block;
      text-align: start;
      line-height: 20px;
      font-size: 11px;
      font-weight: 900;
      color: var(--neutral-main-cards);
      padding-left: 8px;
      @media (min-width: 1200px) {
        width: 110px;
        font-size: 13px;
      }
      @media (min-width: 1440px) {
        width: 125px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
      }
    }
    &__ribbon span::after {
      content: "";
      position: absolute;
      left: 0%;
      top: 100%;
      margin-top: 0.5px;
      border-top: 3px solid #A3222A;
      border-right: 3px solid #A3222A;
      border-bottom: 3px solid transparent;
      border-left: 3px solid transparent;
      z-index: -1;
    }
    &__ribbon--red span {
      background: #FC3B48;
    }
  }
}
