.failed {
  padding: 7%;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__img {
      display: flex;
      align-items: center;

      img {
        width: 350px;
        height: 310px;
        object-fit: cover;
        box-sizing: border-box;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        display: flex;
        justify-content: center;
        width: 100%;

        h2 {
          font-size: 28px;
          font-weight: bold;
          text-align: center;
        }
      }

      &__body {
        display: flex;
        justify-content: center;
        margin-top: 6px;
        width: 100%;

        p {
          font-size: 15px;
          font-weight: lighter;
          text-align: center;
        }
      }

      &__dowload {
        display: flex;
        justify-content: center;
        margin-top: 7px;

        button {
          background-color: var(--primary-accent);
          padding: 5px;
          color: #fff;
          border: none;
          width: 22%;
          font-weight: bolder;
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  .failed {
    padding: 5%;

    &__container {

      &__img {
        object-fit: fill;

        img {
          width: 250px;
          height: 230px;
        }
      }

      &__description {
        display: block;
        width: 100%;
        padding: 5px;

        &__title {
          padding: 3px;

          h2 {
            font-size: 21px;
          }
        }

        &__body {
          margin-top: 22px;
          padding: 0 8px;

          p {
            font-size: 14px;
            font-weight: normal;

            br {
              display: none;
            }
          }
        }

        &__dowload {
          margin-top: 6px;

          button {
            width: 40%;
          }
        }
      }
    }
  }
}
