.sticky-nav {
  position: sticky;
  top: 0;

  &__search {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--primary-background);

    &__input {
      width: 165px;
      padding: 8px 16px;
      border: none;
      background-color: var(--primary-background);
      outline: none;

      @media (min-width: 1200px) {
        width: 100%;
      }

      &::placeholder {
        color: var(--neutral-silver-text);
      }
    }

    &__icon {
      position: absolute;
      top: 7.5px;
      right: 15px;
      color: var(--neutral-silver-text);

      &::before {
        font-weight: 900 !important;
      }
    }
  }

  &__list {
    &__item {
      list-style: none;

      &__category {
        text-transform: capitalize;
        padding: 5px 15px;

        &--selected {
          color: var(--primary-accent);
          text-transform: capitalize;
          padding: 5px 15px;
          background-color: var(--primary-background);
        }
      }
    }
  }

  &__inner-list {
    &__item {
      list-style: none;

      &__product {
        font-weight: 400;
        color: var(--neutral-silver-text);
        padding: 5px 15px;
        margin-left: 20px;

        &--selected {
          font-weight: 700;
          color: #6a6969;
          padding: 5px 15px;
          margin-left: 15px;
        }
      }
    }
  }
}
