@import "../../styles/mixins.scss";

.filters__menu {
   @include menu-container;
   left: 0;

   &__back {
      width: 100%;
      padding: 25px 10px 15px 20px;
      margin-bottom: 2px;
      border-bottom: 1px solid var(--primary-background);

      &__button {
         @include menu-back-button;
         align-self: start;
      }
   }

   &__main-control {
      font-weight: 700;
      padding: 10px 15px 20px 20px;
   }

   &__sub-control {
      padding: 5px 0 10px 0;
      border-top: 1px solid var(--primary-background);
   }

   &__main-control:hover,
   &__sub-control:hover {
      background-color: var(--neutral-main-cards);
   }

   &__sub-menu {
      position: relative;
      left: -20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      &__checkbox {
         appearance: none;
         width: 20px;
         height: 20px;
         background-color: var(--primary-background);
         cursor: pointer;
      }

      &__checkbox:checked::before {
         content: "\2713";
         display: block;
         text-align: center;
         line-height: 20px;
         font-weight: 700;
         color: var(--neutral-main-cards);
         border: none;
         background-color: var(--primary-accent);
      }

      &__title {
         font-weight: 400;
         color: var(--neutral-silver-text);
      }

      &__stars {
         font-size: 22px;
         color: gold;
      }

      &__slider {
         width: 250px;
         position: relative;
         left: -20px;
         padding: 40px 0 20px 0;
      }

      &__close {
         width: 25px;
         height: 17px;
         text-align: center;
         line-height: 20px;
         background-color: var(--primary-background);
      }
   }

   .mantine-Accordion-chevron path {
      color: var(--neutral-cod);
   }

   .mantine-1h0npq1 {
      background-color: var(--neutral-main-cards);
   }

   .mantine-gm39d {
      color: var(--neutral-cod);
      font-size: 15px !important;
   }

   .mantine-1avyp1d {
      width: 100%;
   }

   .mantine-1h0npq1 {
      border: none;
   }

   .mantine-gm39d {
      font-size: 15px;
      font-weight: 700;
      padding: 10px 0 10px 0;
   }

   &__help-box {
      width: 100%;
      margin-top: -1px;
      border-top: 1px solid var(--primary-background);

      &__button {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 5px;
         font-weight: 700;
         color: var(--neutral-main-cards);
         padding: 5px 10px;
         margin: 30px 0 10px 20px;
         border: none;
         border-radius: 15px;
         background-color: var(--primary-accent);
      }

      &__icon {
         color: var(--neutral-main-cards);
         background-color: var(--primary-accent);
      }

      &__telephone {
         padding: 0 0 0 20px;
      }

      &__schedule {
         font-size: 12px;
         padding: 5px 0 0 20px;
      }
   }
}
