.order-restaurants {
  &__carousel {
    // .mantine-1my8u2w {
    //   overflow: visible;
    // }
    &__slide {
      margin-right: 30px;
    }

    .mantine-11v3jvh {
      @media (min-width: 768px) {
        width: 350px;
      }

      @media (min-width: 992px) {
        width: 300px;
      }
    }
  }

  //Clase de otro componente
  .card {
    // width: 95%;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 #dedede;

    // margin: 0 auto;
    // margin-bottom: 0;

    @media (min-width: 576px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 350px;
    }

    @media (min-width: 992px) {
      width: 300px;
    }

    &__image-container {
      @media (min-width: 576px) {
        height: 345px;
      }
      @media (min-width: 768px) {
        height: 220px;
      }
      @media (min-width: 992px) {
        height: 195px;
      }
    }

    &__ribbon {
      width: 75px;
      height: 75px;
      position: absolute;
      top: -10px;
      left: -5px;
      z-index: 1;
    }

    &__ribbon span {
      width: 95px;
      position: absolute;
      top: 19px;
      display: block;
      text-align: start;
      line-height: 20px;
      font-size: 11px;
      font-weight: 900;
      color: var(--neutral-main-cards);
      padding-left: 8px;

      @media (min-width: 1200px) {
        width: 110px;
        font-size: 13px;
      }

      @media (min-width: 1440px) {
        width: 125px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
      }
    }

    &__ribbon span::after {
      content: "";
      position: absolute;
      left: 0%;
      top: 100%;
      margin-top: 0.5px;
      border-top: 3px solid #a3222a;
      border-right: 3px solid #a3222a;
      border-bottom: 3px solid transparent;
      border-left: 3px solid transparent;
      z-index: -1;
    }

    &__ribbon--red span {
      background: #fc3b48;
    }
  }
}
