@import '../../styles/mixins.scss';

.card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--neutral-main-cards);
  box-shadow: 0px 0px 5px 0px rgba(217, 217, 217, 0.75);
  cursor: pointer;
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(210, 210, 210, 0.75);
  }

  &__link {
    width: 100%;
    text-decoration: none;

    @media (min-width: 576px) {
      width: calc(50% - 15px);
      box-shadow: 0px 0px 5px 1px rgba(239, 239, 239, 0.75);
    }

    @media (min-width: 768px) {
      width: calc(50% - (30px / 2));
    }

    @media (min-width: 992px) {
      width: calc(33.333% - ((60px / 3)));
    }

    @media (min-width: 1200px) {
      width: calc(25% - (90px / 4));
    }
  }

  &__ribbon {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: 1;
  }

  &__ribbon span {
    width: 95px;
    position: absolute;
    top: 19px;
    display: block;
    text-align: start;
    line-height: 20px;
    font-size: 11px;
    font-weight: 900;
    color: var(--neutral-main-cards);
    padding-left: 8px;

    @media (min-width: 1200px) {
      width: 110px;
      font-size: 13px;
    }

    @media (min-width: 1440px) {
      width: 125px;
      height: 25px;
      line-height: 25px;
      font-size: 15px;
    }
  }

  &__ribbon span::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    margin-top: 0.5px;
    border-top: 3px solid #a3222a;
    border-right: 3px solid #a3222a;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    z-index: -1;
  }

  &__ribbon--red span {
    background: #fc3b48;
  }

  &__image-container {
    width: 100%;
    height: 64vw;
    overflow: hidden;

    @media (min-width: 576px) {
      height: 160px;
    }

    @media (min-width: 768px) {
      height: 220px;
    }

    @media (min-width: 992px) {
      height: 200px;
    }

    @media (min-width: 1200px) {
      height: 170px;
    }

    @media (min-width: 1440px) {
      height: 205px;
    }

    &__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    padding: 20px;

    &__rating-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }

    &__title {
      max-width: 80%;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-weight: 900;
      overflow: hidden;

      @media (min-width: 576px) {
        max-width: 70%;
      }

      @media (min-width: 768px) {
        font-size: 18px;
        max-width: 75%;
      }

      @media (min-width: 992px) {
        max-width: 70%;
      }

      @media (min-width: 1440px) {
        max-width: 75%;
      }
    }

    &__rating {
      &--recommended {
        @include card__rating--modifier;
      }

      &--inadmisable {
        @include card__rating--modifier(
          $background-color: var(--primary-accent)
        );
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__rules {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 13px;
      font-weight: 400;
      text-transform: capitalize;
      color: var(--neutral-silver-text);
      overflow: hidden;

      @media (min-width: 768px) {
        font-size: 15px;
      }

      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
