.payment-items {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  gap: 20px;

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
      background-color: var(--primary-background);
      border: 1px solid rgba(0, 0, 0, 0.09);
    }
  }

  /* Estilos para los títulos del acordeón */
  .Accordion.Control label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #fd0a0a;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* Estilos para los paneles del acordeón */
  .Accordion.Panel {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .Accordion.Item.active .Accordion.Panel {
    display: flex;
  }

  /* Estilos para los botones */
  .container_buttonP button,
  .container_payments button {
    background-color: #ef3f3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    //border-color: #EF3F3E;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
  }

  .container_buttonP button:hover,
  .container_payments button:hover {
    background-color: white;
    color: #ef3f3e;
  }

  /* Estilos para los campos de entrada */
  .container_nameCard input,
  .container_dates input,
  .container_bank input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  /* Estilos para los campos de selección */
  .container_banks .check {
    margin-right: 10px;
  }

  .space {
    margin-left: 10px;
  }

  .container_banks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .check {
    grid-gap: 10px;
  }

  .container_cardNumber {
    position: relative;
  }

  .container_img_tc_debit {
    height: 14px;
    bottom: 12px;
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }

  .container_img_tc {
    height: 14px;
    bottom: 12px;
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }

  .container_img_tc {
    height: 14px;
    bottom: 12px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
}
