.carousel-restaurant {
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 40px;

   &__image {
      width: 135px;
      height: 135px;
      border-radius: 20px;
      object-fit: cover;
   }

   &__cuisine {
      font-size: 18px;
      font-weight: 700;
      margin-top: 5px;
   }

   &__number {
      line-height: 5px;
      font-size: 10px;
      font-weight: 400;
      color: var(--neutral-silver-text);
   }
}

.mantine-Carousel-container {
   width: 180px;
   height: 170px;
   margin: 30px 0 0 30px;
}
