#root {
  --primary-background: #f9f9f9;
  --primary-background-transparency: #f9f9f990;
  --primary-accent: #f13f4b;
  --neutral-main-cards: #ffffff;
  --neutral-cod: #1b1b1b;
  --neutral-silver-text: #a1a1a1;
}
