.restaurant-order {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: var(--neutral-main-cards);
  box-shadow: 0 2px 4px 0 #dedede;

  @media (min-width: 992px) {
    padding: 0px;
  }

  &__scroll-menu {
    border-right: 2px solid var(--primary-background);

    display: none;

    @media (min-width: 992px) {
      width: 33.3%;
      display: block;
      padding: 20px;
    }
  }

  &__menu {
    height: 100%;
    @media (min-width: 992px) {
      width: 66.6%;
      padding: 20px;
    }

    &__section {
      text-transform: capitalize;
      margin-bottom: 10px;
      border-bottom: 2px solid var(--primary-background);
    }

    &__category {
      font-size: 17px;
      font-weight: 700;
      margin-top: 0px;
    }

    &__amount {
      font-weight: 400;
      color: var(--neutral-silver-text);
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px 0;
      border-bottom: 2px solid var(--primary-background);
    }

    &__item-box {
      display: flex;
      flex-direction: row;
      gap: 5px;

      &__image {
        width: 20px;
      }
    }

    &__item-description {
      color: var(--neutral-silver-text);
    }

    &__item-button {
      width: 120px;
      font-size: 14px;
      padding: 5px;
      border: none;
      background-color: var(--primary-background);
      box-shadow: 0 2px 4px 0 #dedede;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
