.restaurant-order {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: var(--neutral-main-cards);
  box-shadow: 0 2px 4px 0 #dedede;

  &__scroll-menu {
    width: 50px;
    height: 100%;
    background-color: red;
    border: 1px solid black;
    display: none;
  }

  &__menu {
    height: 100%;
    padding: 20px;
    padding-top: 10px;

    &__bestseller {
      margin-bottom: 10px;
      border-bottom: 2px solid var(--primary-background);
    }

    &__quickBites {
      margin-bottom: 10px;
      border-bottom: 2px solid var(--primary-background);
    }

    // &__desserts {
    //   margin-bottom: 5px;
    // }

    &__category {
      font-size: 17px;
      font-weight: 400;
      color: var(--neutral-silver-text);
      //   margin-bottom: 10px;
    }

    &__amount {
      font-weight: 400;
      color: var(--neutral-silver-text);
    }

    &__subcategory {
      font-size: 17px;
      font-weight: 700;
      margin-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px 0;
      border-bottom: 2px solid var(--primary-background);
    }

    // &__item-name {
    //   font-size: 14px;
    // }

    &__item-description {
      color: var(--neutral-silver-text);
    }

    &__item-button {
      width: 120px;
      font-size: 14px;
      padding: 5px;
      border: none;
      background-color: var(--primary-background);
      box-shadow: 0 2px 4px 0 #dedede;
      align-self: flex-end;
    }
  }
}
