@import "../../styles/mixins.scss";

.home-menu-wide {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;

  &__accordion {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;

    &__item {
      width: 100%;
      border: none;
    }

    &__chevron {
      text-align: center;
      justify-self: end;
      cursor: pointer;
    }

    &__chevron::before {
      font-weight: 700 !important;
    }

    &__control {
      width: 180px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 15px;

      &:hover {
        background-color: var(--neutral-main-cards);
      }

      & span {
        text-align: center;
        font-weight: 900;
        padding: 10px 0;
        border: none;
        width: fit-content;
      }
    }

    &__panel-box {
      width: fit-content;
      height: fit-content;
      position: relative;
      left: 15px;
      top: 25px;
      padding: 20px 0 10px 0;
      border-radius: 10px;
      background-color: var(--neutral-main-cards);
      box-shadow: 0px 0px 5px 1px rgba(204, 204, 204, 0.75);
      z-index: 6;
    }

    &__panel {
      width: 180px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--neutral-main-cards);

      & div {
        height: fit-content;
        font-weight: 700;
        padding: 0 0 5px 10px;
      }
    }

    &__nav {
      height: fit-content;
      font-weight: 700;
      padding-top: 0;
      padding-bottom: 0;
      text-decoration: none;
    }

    .mantine-19yykxz {
      display: none;
    }
  }

  .mantine-Accordion-label {
    &--selected {
      border-bottom: 3px solid #c9c9c9;
    }

    &:hover {
      border-bottom: 3px solid #c9c9c9;
    }
  }
}
