@import "../../styles/mixins.scss";

.home-menu {
  @include menu-container;
  right: 0;

  &__back {
    width: 100%;
    text-align: end;
    padding: 25px 20px 15px 20px;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--primary-background);

    &__button {
      @include menu-back-button;

      &__icon {
        position: relative;
        top: -2px;
        font-size: 9px;
        font-weight: 700;
      }

      &__icon::before {
        font-weight: 700 !important;
      }
    }
  }

  &__accordion {
    width: 100%;

    &__item {
      width: 100%;
      border: none;
    }

    &__chevron {
      text-align: center;
      justify-self: end;
      cursor: pointer;
    }

    &__chevron::before {
      font-weight: 700 !important;
    }

    &__control {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;

      & span {
        font-weight: 700;
        padding: 10px 0;
        border: none;
      }
    }

    &__panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &:last-child {
        margin-bottom: -5px;
      }

      & div {
        height: fit-content;
        font-weight: 700;
        padding: 0 0 5px 15px;
      }
    }

    &__nav {
      height: fit-content;
      font-weight: 700;
      padding-top: 0;
      padding-bottom: 0;
      text-decoration: none;
    }
  }
}