.container{
  border: 0.1px solid grey;
  border-color: rgb(30, 30, 30);
  background-color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_info {
  /*display: flex;
  flex-direction: column;*/
  border-bottom: 5px solid;
  border-bottom-color: #F2F2F2;
  width: 90%;
  align-self: center;
}

h6{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

p{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.container_button {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}