.checkout {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__container-card {
    width: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #dddddd;
    height: 220px;
  
    &--selected{
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
  
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;

    &__title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    &__name{
      color: black;
      font-size: 15px;
    
    }
    &__span{
      background-color: rgba(0, 128, 0, 0.9);
      border-radius: 5px;
      color: #ffffff;
      padding: 5px 15px;
      font-size: 12px;
      font-weight: 700px;
    }

    &__content{

      &__p{
        color: black;
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }

  &__button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    gap: 15px;
  }
  
  @media (min-width: 1024px) {
    .container {
      padding: 30%;
    }
  
    .container_card {
      display: flex;
    }
  }
}


