.overview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
  background-color: var(--neutral-main-cards);
  box-shadow: 0 2px 4px 0 #dedede;

  @media (min-width: 576px) {
    display: flex;
    flex-direction: row;
    line-height: 2;
    padding: 30px 20px;
  }

  @media (min-width: 768px) {
    line-height: 1.5;
  }

  &__col-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px;
    @media (min-width: 576px) {
      width: 50%;
    }
  }

  &__col-2 {
    padding: 0px 15px;
    @media (min-width: 576px) {
      width: 50%;
    }
  }

  &__phone {
    font-weight: 700;
  }

  &__category {
    margin-bottom: 5px;

    &__item {
      text-transform: capitalize;
    }
  }

  ul {
    padding-left: 25px;

    li {
      list-style: square;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
