.restaurant-options {
  width: 95%;
  margin: 0 auto;
  background-color: var(--neutral-main-cards);
  box-shadow: 0 2px 4px 0 #dedede;

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      height: 42.4px;
      list-style: none;
      font-weight: 700;
      white-space: nowrap;
      padding: 10px;
      cursor: pointer;

      &--selected {
        color: var(--primary-accent);
        border-bottom: 2px solid var(--primary-accent);
      }
    }
  }
}
