.single-restaurant {
  padding-bottom: 30px;
  background-color: var(--primary-background);

  &__principal {
    padding-top: 30px;

    &__option-selection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;
    }

    &__options-box {
      &__election {
        display: block;

        &--inactive {
          display: none;
        }
      }

      &__map {
        width: 95%;
        height: 280px;
        padding: 15px;
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: var(--neutral-main-cards);
        box-shadow: 0 2px 4px 0 #dedede;

        .mapboxgl-ctrl-bottom-left {
          display: none;
        }
      }

      // &__carousel {
      //   margin: 20px 0;
      // }
    }
  }
}
