.single-restaurant {
  padding-bottom: 30px;
  background-color: var(--primary-background);

  &__principal {
    padding-top: 30px;

    &__option-selection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;
    }

    &__options-box {
      &__election {
        display: block;

        &--inactive {
          display: none;
        }
      }
    }

    // &__carousel {
    //   margin: 20px 0;
    // }
  }
}
