@import '../../styles/mixins.scss';

.filters {
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 30px auto;
  background-color: var(--neutral-main-cards);

  @media (min-width: 576px) {
    width: 525px;
  }

  @media (min-width: 768px) {
    width: 690px;
  }

  @media (min-width: 992px) {
    width: 940px;
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
    width: 1120px;
    margin-top: 60px;
  }

  @media (min-width: 1440px) {
    width: 1300px;
    margin-top: 70px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;

    @media (min-width: 576px) {
      display: none;
    }

    &__icon {
      align-self: end;
      font-size: 10px;
      cursor: pointer;
    }

    &__box {
      display: none;
      width: 150px;
      position: absolute;
      top: 50%;
      padding: 10px 15px;
      box-shadow: -5px -3px 12px -8px var(--neutral-cod);
      background-color: var(--primary-background);
      z-index: 10;

      @media (min-width: 576px) {
        width: 100%;
        display: block;
        position: static;
        padding: 0;
        box-shadow: none;
        background-color: var(--neutral-main-cards);
        z-index: 0;
      }

      &--active {
        display: block;
        background-color: var(--neutral-main-cards);
      }
    }

    &__box-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;

      @media (min-width: 576px) {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }

      @media (min-width: 992px) {
        margin-bottom: 0px;
      }

      .box-list__item {
        height: fit-content;
        text-align: start;
        font-weight: 700;
        background-color: transparent;
        border: none;

        @media (min-width: 576px) {
          @include buttons-filter__button(
            $background-color: var(--primary-background)
          );
        }

        &--selected {
          font-weight: 700;
          color: var(--primary-accent);

          @media (min-width: 576px) {
            @include buttons-filter__button(
              $color: var(--neutral-main-cards),
              $background-color: var(--primary-accent)
            );
          }
        }
      }
    }
  }

  &__menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 992px) {
      display: none;
    }

    &__button {
      width: 12px;
      height: 10px;
      align-self: center;
      cursor: pointer;
    }
  }
}
