.restaurant-gallery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: var(--neutral-main-cards);
  box-shadow: 0 2px 4px 0 #dedede;

  @media (min-width: 576px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
  }

  &__box {
    height: calc(65vw - 30px);

    @media (min-width: 576px) {
      width: 220px;
      height: 145px;
    }

    @media (min-width: 768px) {
      width: 300px;
      height: 205px;
    }

    @media (min-width: 992px) {
      width: 164px;
      height: 115px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
