@import "/src/styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #000000;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg_main);
  font-size: 15px;
}

body {
  background-color: var(--primary-background);
}

.menu-open {
  overflow: hidden;
}