* {
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg_main);
  font-size: 15px;
}

:root {
  display: flex;
  width: 100%;
  height: 100%;


  --Amarantha_primary: #F13F4B;
  --bg_main: #e9e6e6;
  --mian_cards: #FFFFFF;
  --color_text: #A1A1A1;
  --black_text: #000000;
}